In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import os
import natsort

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get update -qq
!apt-get install fonts-nanum* -qq

import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
font_name = fm.FontProperties(fname=path, size=10).get_name()
plt.rc('font', family=font_name)
fm._rebuild()

Selecting previously unselected package fonts-nanum.
(Reading database ... 123941 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Selecting previously unselected package fonts-nanum-eco.
Preparing to unpack .../fonts-nanum-eco_1.000-6_all.deb ...
Unpacking fonts-nanum-eco (1.000-6) ...
Selecting previously unselected package fonts-nanum-extra.
Preparing to unpack .../fonts-nanum-extra_20170925-1_all.deb ...
Unpacking fonts-nanum-extra (20170925-1) ...
Selecting previously unselected package fonts-nanum-coding.
Preparing to unpack .../fonts-nanum-coding_2.5-1_all.deb ...
Unpacking fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-extra (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Setting up fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-eco (1.000-6) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...

In [ ]:
path = '/content/drive/MyDrive/skt 데이터/data/웨더아이/봄꽃/'

file_list = os.listdir(path)
file_list = [file for file in file_list if file.endswith('.csv')]
file_list

['웨더아이_봄꽃개화_2018.csv',
 '웨더아이_봄꽃개화_2019.csv',
 '웨더아이_봄꽃개화_2020.csv',
 '웨더아이_봄꽃개화_2021.csv',
 '웨더아이_봄꽃개화_2022.csv']

In [ ]:
yellow = pd.DataFrame()
pink = pd.DataFrame()

for i in file_list:
  data = pd.read_csv(path + i, encoding='cp949')
  yellow = pd.concat([yellow, data['개나리']], axis=1)
  pink = pd.concat([pink, data['진달래']], axis=1)

yellow = pd.concat([yellow, data['지역명']], axis = 1)
yellow = yellow.set_index(keys='지역명')

pink = pd.concat([pink, data['지역명']], axis = 1)
pink = pink.set_index(keys='지역명')

yellow.columns=["2018", "2019", "2020", "2021", '2022']
pink.columns=["2018", "2019", "2020", "2021", '2022']

**전국 개나리 개화시기 (5개년)**

In [ ]:
yellow

          2018       2019       2020       2021       2022
지역명
서귀포  2018.3.16  2019.3.13  2020.3.15  2021.3.15   2022.3.5
부산   2018.3.17  2019.3.15  2020.3.15  2021.3.16  2022.3.15
통영   2018.3.19  2019.3.16  2020.3.17  2021.3.19  2022.3.17
여수   2018.3.21  2019.3.20  2020.3.13  2021.3.20  2022.3.14
광주   2018.3.22  2019.3.20  2020.3.16  2021.3.20  2022.3.15
전주   2018.3.24  2019.3.23  2020.3.21  2021.3.22  2022.3.16
대구   2018.3.18  2019.3.17  2020.3.16  2021.3.16  2022.3.16
포항   2018.3.19  2019.3.18  2020.3.16  2021.3.18  2022.3.13
대전   2018.3.26  2019.3.23  2020.3.24  2021.3.22  2022.3.21
청주   2018.3.27  2019.3.24  2020.3.21  2021.3.24  2022.3.19
수원   2018.3.30  2019.3.28  2020.3.28  2021.3.27  2022.3.25
서울   2018.3.28  2019.3.27  2020.3.22  2021.3.24  2022.3.22
인천    2018.4.2  2019.3.31  2020.3.28  2021.3.28  2022.3.27
강릉   2018.3.25  2019.3.23  2020.3.22  2021.3.22  2022.3.23
춘천    2018.4.1   2019.4.1   2020.4.1   2021.4.1  2022.3.29

**전국 진달래 개화시기 (5개년)**

In [ ]:
pink

          2018       2019       2020       2021       2022
지역명
서귀포  2018.3.19  2019.3.16  2020.3.16  2021.3.18   2022.3.7
부산   2018.3.22  2019.3.16  2020.3.18  2021.3.18  2022.3.15
통영   2018.3.21  2019.3.17  2020.3.17  2021.3.18  2022.3.14
여수   2018.3.20  2019.3.18  2020.3.15  2021.3.17  2022.3.12
광주   2018.3.26  2019.3.25  2020.3.26  2021.3.24  2022.3.22
전주   2018.3.28  2019.3.28  2020.3.28  2021.3.27  2022.3.19
대구   2018.3.23  2019.3.23  2020.3.23  2021.3.21  2022.3.19
포항   2018.3.23  2019.3.22  2020.3.19  2021.3.21  2022.3.18
대전   2018.3.27  2019.3.26  2020.3.26  2021.3.24  2022.3.20
청주   2018.3.30  2019.3.29  2020.3.27  2021.3.28  2022.3.21
수원   2018.3.31  2019.3.29  2020.3.29  2021.3.26  2022.3.26
서울   2018.3.29  2019.3.28  2020.3.23  2021.3.23  2022.3.20
인천    2018.4.1   2019.4.2  2020.3.25  2021.3.27  2022.3.22
강릉   2018.3.28  2019.3.27  2020.3.25  2021.3.24  2022.3.24
춘천    2018.4.6   2019.4.4   2020.4.2   2021.4.2  2022.3.30

In [ ]:
path = '/content/drive/MyDrive/skt 데이터/data/웨더아이/벚꽃/'

file_list = os.listdir(path)
file_list = [file for file in file_list if file.endswith('.csv')]
file_list

['웨더아이_벚꽃개화_2018.csv',
 '웨더아이_벚꽃개화_2019.csv',
 '웨더아이_벚꽃개화_2020.csv',
 '웨더아이_벚꽃개화_2021.csv',
 '웨더아이_벚꽃개화_2022.csv']

In [ ]:
blossom = pd.DataFrame()

for i in file_list:
  data = pd.read_csv(path + i, encoding='cp949')
  blossom = pd.concat([blossom, data['벚꽃']], axis=1)

blossom = pd.concat([blossom, data['주요도시']], axis = 1)
blossom.rename(columns = {'주요도시':'지역명'}, inplace = True)

blossom = blossom.set_index(keys='지역명')
blossom.columns=["2018", "2019", "2020", "2021", '2022']

**전국 벚꽃 개화시기 (5개년)**

In [ ]:
blossom

          2018       2019       2020       2021       2022
지역명
서귀포  2018.3.24  2019.3.22  2020.3.23  2021.3.24  2022.3.20
부산   2018.3.27  2019.3.27  2020.3.23  2021.3.26  2022.3.24
창원   2018.3.26  2019.3.28  2020.3.21  2021.3.26  2022.3.21
울산   2018.3.27  2019.3.29  2020.3.24  2021.3.27  2022.3.24
여수   2018.3.30  2019.3.29  2020.3.26  2021.3.28  2022.3.24
광주    2018.4.1  2019.3.29  2020.3.27  2021.3.27  2022.3.22
목포    2018.4.2  2019.3.31  2020.3.31  2021.3.30  2022.3.28
전주    2018.4.1  2019.3.30  2020.3.28  2021.3.29  2022.3.22
대구   2018.3.28  2019.3.27  2020.3.22  2021.3.24  2022.3.26
포항   2018.3.28  2019.3.28  2020.3.22  2021.3.26  2022.3.25
안동    2018.4.5   2019.4.2  2020.3.30  2021.3.30  2022.3.30
대전    2018.4.2   2019.4.2  2020.3.30  2021.3.29  2022.3.27
청주    2018.4.4   2019.4.3  2020.3.29  2021.3.29  2022.3.27
서산   2018.4.10   2019.4.9   2020.4.3   2021.4.4   2022.4.4
수원    2018.4.8   2019.4.7   2020.4.7   2021.4.4   2022.4.1
서울    2018.4.7   2019.4.5   2020.4.4   2021.4.1  2022.3.28
인천   2018.4.10   2019.4.7   2020.4.8   2021.4.3   2022.4.3
강릉    2018.4.4   2019.4.1   2020.4.1  2021.3.31  2022.3.31
춘천    2018.4.9   2019.4.9   2020.4.8   2021.4.5   2022.4.5

**충청남도 (대전) 개나리, 진달래, 벚꽃 개화시기 (5개년)**

In [ ]:
대전 = pd.concat([yellow.filter(like='대전',axis=0), pink.filter(like='대전',axis=0), blossom.filter(like='대전',axis=0)])
대전 = 대전.set_axis(['개나리', '진달래','벚꽃'], axis=0)
대전

          2018       2019       2020       2021       2022
개나리  2018.3.26  2019.3.23  2020.3.24  2021.3.22  2022.3.21
진달래  2018.3.27  2019.3.26  2020.3.26  2021.3.24  2022.3.20
벚꽃    2018.4.2   2019.4.2  2020.3.30  2021.3.29  2022.3.27