In [10]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
#!pip install xlrd
#!conda install -c anaconda xlrd
from pylab import rcParams
import statsmodels.api as sm
import warnings
import itertools
#from keras.models import Model
#from keras.layers import Input, Dense, LSTM, Bidirectional
#from keras import backend as K
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_excel('/content/train_data.xlsx',engine='openpyxl')
df.head()

,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자,강수량,인구,아황산가스,일산화탄소,이산화질소,철새 합계
0,2014-01-01,-0.6,4.4,9.3,2014-01-01,-5.8,-10.8,2014-01-22,9.9,12709996,0.007,0.778,0.038,0
1,2014-02-26,2.1,7.4,16.0,2014-02-26,-2.3,-9.6,2014-02-04,16.5,12709996,0.006,0.733,0.035,0
2,2014-03-28,7.6,13.6,24.7,2014-03-28,2.3,-4.2,2014-03-10,10.9,12709996,0.006,0.622,0.039,0
3,2014-04-25,13.3,19.9,26.3,2014-04-25,7.9,1.4,2014-04-05,55.7,12709996,0.005,0.500,0.033,0
4,2014-05-31,18.2,25.2,33.2,2014-05-31,12.5,6.0,2014-05-06,64.4,12709996,0.005,0.456,0.030,0

In [6]:
from sklearn.preprocessing import MinMaxScaler

df.sort_index(ascending=False).reset_index(drop=True)

scaler = MinMaxScaler()
scale_cols = ['평균기온(℃)','평균최고기온(℃)','최고기온(℃)','평균최저기온(℃)','최저기온(℃)','강수량','인구','아황산가스','일산화탄소','이산화질소','철새 합계'] ##수정 필요
df_scaled = scaler.fit_transform(df[scale_cols])
df_scaled = pd.DataFrame(df_scaled)
df_scaled.columns = scale_cols

df_scaled

,평균기온(℃),평균최고기온(℃),최고기온(℃),평균최저기온(℃),최저기온(℃),강수량,인구,아황산가스,일산화탄소,이산화질소,철새 합계
0,0.093750,0.096273,0.019608,0.061728,0.157068,0.013743,0.0,1.0,1.000000,0.923077,0.000000
1,0.178125,0.189441,0.238562,0.169753,0.188482,0.023392,0.0,0.8,0.898876,0.807692,0.000000
2,0.350000,0.381988,0.522876,0.311728,0.329843,0.015205,0.0,0.8,0.649438,0.961538,0.000000
3,0.528125,0.577640,0.575163,0.484568,0.476440,0.080702,0.0,0.6,0.375281,0.730769,0.000000
4,0.681250,0.742236,0.800654,0.626543,0.596859,0.093421,0.0,0.6,0.276404,0.615385,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
67,0.950000,0.937888,0.908497,0.953704,0.895288,0.171637,1.0,0.2,0.150562,0.038462,0.000000
68,0.809375,0.791925,0.709150,0.805556,0.746073,0.294444,1.0,0.2,0.150562,0.153846,0.000000
69,0.612500,0.621118,0.624183,0.577160,0.518325,0.106140,1.0,0.2,0.150562,0.307692,0.541270
70,0.346875,0.375776,0.392157,0.308642,0.337696,0.135526,1.0,0.4,0.600000,0.615385,0.473029
71,0.159375,0.139752,0.183007,0.148148,0.157068,0.037573,1.0,0.4,0.600000,0.653846,0.572907

In [7]:
TEST_SIZE = 60

train = df_scaled[:-TEST_SIZE]

In [8]:
from sklearn.model_selection import train_test_split

feature_cols = ['평균기온(℃)','평균최고기온(℃)','최고기온(℃)','평균최저기온(℃)','최저기온(℃)','강수량','인구','아황산가스','일산화탄소','이산화질소','철새 합계'] 
label_cols = ['철새 합계']

train_feature = train.iloc[:, :-1]
train_label = train.iloc[:, -1]

x_train, x_valid, y_train, y_valid = train_test_split(train_feature, train_label, test_size=0.2)

x_train.shape, x_valid.shape

((9, 10), (3, 10))

In [9]:
from sklearn.ensemble import RandomForestRegressor

model_rfr = RandomForestRegressor()
model_rfr.fit(x_train, y_train)

RandomForestRegressor()